<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- Thymeleaf import -->
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<h1>Register new User</h1>
<!-- th:action replaces action -->
<form th:action="@{/register}" th:object="${customUser}" method="post">
    <label>
        Username:
        <input type="text" name="username" th:field="*{username}"> <!-- name must match formLogin defaults -->
    </label>

    <label>
        Password:
        <input type="text" name="password" th:field="*{password}">
    </label>

    <button type="submit">Register</button>

    <!-- fields.hasAnyErrors comes from BindingResult aka @Valid -->
    <div th:if="${#fields.hasAnyErrors()}">
        <ul>
            <li th:each="error : ${#fields.allErrors()}" th:text="${error}"></li>
        </ul>
    </div>
</form>


</body>
</html>